<app-header></app-header>
<div class="container" *ngIf="book">
  <div class="row my-3 book-detail">
    <div class="col-lg-6 book-image">
      <img [src]="'assets/books/book-image'+book.imageId+'.jpg'" width="400px" height="600px">
    </div>
    <div class="col-lg-6 book-info">
      <h2 class="mb-3">{{book.bookName}}</h2>
      <p>
        {{book.aboutTheBook}}
      </p>
      <div class="columns">
        <div class="date-area">
          <div class="grey">
            <div class="date">
              <h4 class="text-center">Ödünç alınıcak gün aralığı</h4>
              <div class="text-center">
                <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                  outsideDays="hidden">
                </ngb-datepicker>

                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button style="width:100%;" class="btn btn-success" (click)="addToCart()">Sepete Ekle</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
