<div class="container mt-4">
  <div class="card">
    <div *ngIf="book" class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h2 class="py-3 text-center font-bold font-up">Kitap Güncelle</h2>
        </div>
      </div>
      <form [formGroup]="editBookForm">
        <div class="row">
          <div class="col-12">
            <div class="row mx-4">
              <div class="col-12 mb-2">
                <label class="edit-form-label">Kitap Adı</label>
              </div>
              <div class="col-12 col-sm-6">
                <input class="edit-form-input" formControlName="bookName" placeholder="Kitap adı">
                <div>
                  <small
                    *ngIf="editBookForm.get('bookName')?.hasError('required') && editBookForm.controls['bookName'].touched">
                    Kitap adı alanı zorunludur</small>
                </div>
              </div>
              <div class="col-12 col-sm-6 mt-2 mt-sm-0">
                <input class="edit-form-input" formControlName="author" placeholder="Yazar">
                <div>
                  <small
                    *ngIf="editBookForm.get('author')?.hasError('required') && editBookForm.controls['author'].touched">Yazar
                    alanı zorunludur</small>
                </div>
              </div>
            </div>

            <div class="row mt-3 mx-4">
              <div class="col-12">
                <label class="edit-form-label">Kitap Hakkında</label>
              </div>
              <div class="col-12">
                <textarea class="edit-form-input" formControlName="aboutTheBook"
                  placeholder="Kitap hakkında"></textarea>
                <div>
                  <small
                    *ngIf="editBookForm.get('aboutTheBook')?.hasError('required') && editBookForm.controls['aboutTheBook'].touched">Kitap
                    hakkında
                    alanı zorunludur</small>
                </div>
              </div>
              <div class="col-12 col-sm-6 mt-2 pr-sm-2">
                <input class="edit-form-input" formControlName="barcodeNumber" type="number"
                  placeholder="Barkod Numarası">
                <div>
                  <small
                    *ngIf="editBookForm.get('barcodeNumber')?.hasError('required') && editBookForm.controls['barcodeNumber'].touched">Barkod
                    numarası
                    alanı zorunludur</small>
                </div>
              </div>
              <div class="col-12 col-sm-6 mt-2 pl-sm-0">
                <input class="edit-form-input" formControlName="shelfNumber" placeholder="Raf numarası">
                <div>
                  <small
                    *ngIf="editBookForm.get('shelfNumber')?.hasError('required') && editBookForm.controls['shelfNumber'].touched">Raf
                    numarası
                    alanı zorunludur</small>
                </div>
              </div>
            </div>

            <div class="row mx-4">
              <div class="col-12 mb-2">
                <label class="edit-form-label">Kategori</label>
              </div>
              <div class="col-12 col-sm-6">
                <select class="edit-form-input" formControlName="category">
                  <option value="Roman">Roman</option>
                  <option value="Çocuk">Çocuk</option>
                </select>
                <!-- <input class="edit-form-input" formControlName="category" placeholder="Kategori"> -->
                <div>
                  <small
                    *ngIf="editBookForm.get('category')?.hasError('required') && editBookForm.controls['category'].touched">
                    Kategori alanı zorunludur</small>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div style="text-align:center">
                  <p>
                    <input class="edit-form-input" type="file" (change)="selectFile($event)" formControlName="imageId">
                  </p>
                  <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                  <div><img [src]="url" width="50" height="100" *ngIf="url;else elseBlock"></div>
                  <ng-template #elseBlock><img
                      [src]="book.imageId <= 16 ? 'assets/books/book-image'+book.imageId+'.jpg' : book.imageId"
                      width="50" height="100"></ng-template>
                </div>
                <!-- <input class="edit-form-input" formControlName="imageId" placeholder="imageID"> -->
                <div>
                  <small
                    *ngIf="editBookForm.get('imageId')?.hasError('required') && editBookForm.controls['imageId'].touched">image
                    id
                    alanı zorunludur</small>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="d-flex col-12">
                <button type="button" id="btnBack" class="btn btn-primary d-block mx-auto"
                  (click)="goBack()">Geri</button>
                <button type="button" id="btnSubmit" class="btn btn-success d-block mx-auto btn-submit"
                  (click)="updateBook()">Kitap Güncelle</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body" *ngIf="!book">

      <p class="display-6 d-flex justify-content-center">{{this.bookId}} id'li bir kitap kütüphane sisteminizde
        bulunamadı...</p>
    </div>
  </div>
</div>
