<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<app-header (searchTextChanged)="onSearchTextEntered($event)"></app-header>
<section class="wrapper">
  <div class="container-fostrap">
    <div class="content">
      <div class="container">
        <div class="row" *ngIf="categaryName === 'all'">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
            *ngFor="let book of books | filterBooks:searchText;let i=index">
            <div class="card" [ngClass]="isAvailable ? { notAvailable: isAvailable[i] } : ''">
              <div *ngFor="let item of notAvailableBooks">
                <div class="diamond-container" *ngIf="item.barcodeNumber === book.barcodeNumber">
                  <div class="diamond">
                    <div class="diamond-wrapper">
                      <div class="diamond-content">Müsait Değil</div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="img-card" [routerLink]="'/book-detail/' + book.id">
                <img *ngIf="book.imageId <= 16; else elseBlock" [src]="'assets/books/book-image'+book.imageId+'.jpg'" />
                <ng-template #elseBlock><img [src]="book.imageId"></ng-template>
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  {{book.bookName}}
                </h4>
                <p class="card-description">
                  {{book.aboutTheBook}}
                </p>
              </div>
              <div class="card-detail">
                <button [ngClass]="isAvailable ? { disabled: isAvailable[i] } : ''" class="btn btn-primary"
                  [routerLink]="'/book-detail/' + book.id">
                  detay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="categaryName === 'novel'">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let book of novelBooks | filterBooks:searchText">
            <div class="card">
              <a class="img-card" [routerLink]="'/book-detail/' + book.id">
                <img *ngIf="book.imageId <= 16; else elseBlock" [src]="'assets/books/book-image'+book.imageId+'.jpg'" />
                <ng-template #elseBlock><img [src]="book.imageId"></ng-template>
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  {{book.bookName}}
                </h4>
                <p class="card-description">
                  {{book.aboutTheBook}}
                </p>
              </div>
              <div class="card-detail">
                <button class="btn btn-primary" [routerLink]="'/book-detail/' + book.id">
                  detay
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="categaryName === 'child'">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let book of childBooks | filterBooks:searchText">
            <div class="card">
              <a class="img-card" [routerLink]="'/book-detail/' + book.id">
                <img *ngIf="book.imageId <= 16; else elseBlock" [src]="'assets/books/book-image'+book.imageId+'.jpg'" />
                <ng-template #elseBlock><img [src]="book.imageId"></ng-template>
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  {{book.bookName}}
                </h4>
                <p class="card-description">
                  {{book.aboutTheBook}}
                </p>
              </div>
              <div class="card-detail">
                <button class="btn btn-primary" [routerLink]="'/book-detail/' + book.id">
                  detay
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
