/* You can add global styles to this file, and also import other style files */
body {
  margin:0;
  font:'Open Sans',sans-serif !important;
  padding: 0;
}
*,:after,:before{
  box-sizing:border-box !important;
}
